html {
  height: 100%;
}

body {
  height: 100%;
}
/*fonts*/
* {
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Yrsa', serif;
}

header {
  display: flex;
  /* background:#C2A15A; */
  background-color: rgb(224, 149, 116);
  justify-content: center;
  align-items: center;
  height: 150px;
}

h1 {
  color: rgb(159, 30, 30);
  display: flex;
  right: 43px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

#logo {
  position: relative;
  right: 8%;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;

  box-shadow: -12px 9px 18px -10px rgba(0,0,0,0.73);
  -webkit-box-shadow: -12px 9px 18px -10px rgba(0,0,0,0.73);
  -moz-box-shadow: -12px 9px 18px -10px rgba(0,0,0,0.73);
}

nav {
  background: #EBE9E5;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
  font-size: 23px;
}

nav ul li a { 
  /* display:block; */
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  height: 40px;
}

nav ul li a:hover {
  background-color: rgb(213, 213, 213);
}

.activo{
  color: rgb(159, 30, 30);
}

form {  
  display: flex;
  margin: 0 2%;
  justify-content: center;
  align-items: center;
}

.holder {
  max-width: 1310px;
  margin: 0 auto;  
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 22px;
}
.titulos {
  font-size: 40px;
  text-align: center;
  margin-top: 10%; 
}

.parrafos {
  padding: 4%;
  margin-top: 10%; 
}

.homeimg {
  margin-top: 20px;
}
/*Inicio primer articulo*/
.articulouno{
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info {
  background-color: antiquewhite;
  width: 900px;
  height: 520px;
  display: flex;
  flex-direction: column;  
}
/*fin primer articulo*/

/*Inicio Segundo articulo*/
.articulodos {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.programas {
  background-color: antiquewhite;
  width: 900px;
  height: 520px;
  display: flex;
  flex-direction: column;
}
/*fin del articulo dos*/

/*Inicio articulo tres*/
.articulotres {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grupos {
  background-color: antiquewhite;
  width: 900px;
  height: 520px;
  display: flex;
  flex-direction: column;
}
/*fin articulo tres*/

/*inicio articulo cuatro*/
.articulocuatro {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conciertos {
  background-color: antiquewhite;
  width: 900px;
  height: 520px;
  display: flex;
  flex-direction: column;
}
/*fin articulo cuatro*/

/*fin de home*/

/*Inicio de seccion Planes*/ 

.art {
  background-color: antiquewhite;
  height: 200px;
  /* max-width: 94%; */
  /* margin: 3% auto; */
  padding-left: 30px;
  padding-top: 50px;
}

.carreras {
  display: flex;
  margin-top: 25px;
  /* padding: 0 2%; */
}

.piano {
  margin-right: 15px;  
}

.cuerdas {
  margin-right: 15px;
}

.vientos {
  margin-right: 15px;
}

.text {
  margin-top: 25px;
}
/*fin seccion planes*/

/*inicio seccion grupos*/

.description {
  background-color: antiquewhite;
  height: 200px;
  padding-left: 30px;
  padding-top: 50px;

}
.gruposestables {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 7%;
}

.jazz-container{
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

.coro-container {
  display: flex;
  flex-direction: column;
}
.orquesta-container {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.jazz-img{
  margin-bottom: 15px;
}

.coro-img{
  margin-bottom: 15px;
}

.orquesta-img{
  margin-bottom: 10px;
}
/*fin seccion grupos*/

/*inicio seccion contactos*/

.contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}
.formulario div {
  display: flex;
}

.formulario div label {
  display: flex;
  align-items: center;
  min-width: 80px;
}
textarea {
  resize: none;
}
/*fin seccion contactos*/

/* Inicio Footer*/
footer {
  font-size: 22px;
  background-color: rgb(224, 149, 116);
  height: 150px;
  /* clear: both; */
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}




