<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
     <nav>
      <ul>
        <li><a href="/">Home</a></li> 
        <li><a href="/planes">Planes</a></li> 
        <li><a href="/grupos">Grupos</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </body>
</html>
