header {
    display: flex;
    /* background:#C2A15A; */
    background-color: rgb(224, 149, 116);
    justify-content: center;
    align-items: center;
    height: 150px;
  }

.container {
    margin-top: 100px;
}
  