<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styleadmin.css' />
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
